<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
</head>
<body>
    <form method = "POST" action=".">
        <h2>input the picture </h2>
        <input type="url" placeholder = "https://example.com" name = "url"/>
        <button>submit</button>
    </form>
</body>

<%- include("footer.ejs") %>
</html>