    <!--FOOTER PART-->
    <link rel="stylesheet" href="/footer.css" />
    <hr>
    <footer>
        <h1>Ableton</h1>
        <!--CONTENT 1-->
        <div class="grid">
            <div class="content">
                <ul type="none">
                    <li>Register Live or Push <span class="material-symbols-outlined" style="font-size: 0.7rem ;
                    text-align: center;">
                            arrow_forward_ios
                        </span></li>
                    <li>About Ableton <span class="material-symbols-outlined" style="font-size: 0.7rem ;
                    text-align: center;">
                            arrow_forward_ios
                        </span></li>
                    <li>Jobs <span class="material-symbols-outlined" style="font-size: 0.7rem ;
                    text-align: center;">
                            arrow_forward_ios
                        </span></li>
                    <li>
                        <!--SOCIAL MEDIA ICONS-->
                        <div class="icons">
                            <div class="i1"></div>
                            <div class="i2"></div>
                            <div class="i3"></div>
                            <div class="i4"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--CONTENT 2-->
            <div class="content">
                <ul type="none">
                    <li>Education </li>
                    <li>Offers for Students and Teachers <span class="material-symbols-outlined" style="font-size: 0.7rem ;
                text-align: center;">
                            arrow_forward_ios
                        </span></li>
                    <li>Offers for Institutions <span class="material-symbols-outlined" style="font-size: 0.7rem ;
                text-align: center;">
                            arrow_forward_ios
                        </span></li>
                    <li>Push 1-trade-in initiative <span class="material-symbols-outlined" style="font-size: 0.7rem ;
                text-align: center;">
                            arrow_forward_ios
                        </span></li>
                </ul>
            </div>
            <!--CONTENT 3-->
            <div class="content search-bar_button">
                <ul type="none">
                    <li>Sign up to our newsletter</li>
                    <li>Enter your Email address to stay up to date with the latest offers , tutorial and more.</li>
                    <li style=" 
                    margin-top : 20px ;
                    height: 40px;
                    display: grid;
                    grid-template-columns: 80% 20%;
                    align-items: center;
                    width: 100%;"><input type="text" placeholder="Email Address" style="
    padding-left: 10px;
    background-color: #80808042;
    border: none;
    height: 100%;">
                        <button style="
                        color: white;
                        background-color: #0058ff;
                        height: 100%;
                        border: none;">Sign up</button>
                    </li>
                </ul>
            </div>
            <!--CONTENT 4-->
            <div class="content">
                <ul type="none">
                    <li>Community <span class="material-symbols-outlined" style="font-size: 0.7rem ;
                        text-align: center;">
                            arrow_forward_ios
                        </span></li>
                    <li>Find Ableton Group and Users <span class="material-symbols-outlined" style="font-size: 0.7rem ;
                        text-align: center;">
                            arrow_forward_ios
                        </span></li>
                    <li>Find certified Training <span class="material-symbols-outlined" style="font-size: 0.7rem ;
                        text-align: center;">
                            arrow_forward_ios
                        </span></li>
                    <li>Become a Certified Trainer <span class="material-symbols-outlined" style="font-size: 0.7rem ;
                        text-align: center;">
                            arrow_forward_ios
                        </span></li>
                </ul>
            </div>
            <!--CONTENT 5-->
            <div class="content">
                <ul type="none">
                    <li>Distributors </li>
                    <li>FInd Distributors <span class="material-symbols-outlined" style="font-size: 0.7rem ;
                        text-align: center;">
                            arrow_forward_ios
                        </span></li>
                    <li>try Push-in Store <span class="material-symbols-outlined" style="font-size: 0.7rem ;
                        text-align: center;">
                            arrow_forward_ios
                        </span></li>
                </ul>
            </div>
            <!--CONTENT 6-->
            <div class="content">
                <ul type="none">
                    <li>Language and Location</li>
                    <li style="
                    margin-top: 10px ;
                    width: 46%;
                    height: 30px;
                    column-gap: 4px;
                    display: flex;
                    align-items: center;">
                        <select name="" id="language" style="
                        width: 30%;
                        height: 100%;
                        padding: 5px;
                        background-color: #8080803d;">
                            <option value="">English</option>
                            <option value="">Hindi</option>
                            <option value="">Marathi</option>
                            <option value="">Tamil</option>
                            <option value="">Telugu</option>
                            <option value="">Bangla</option>
                        </select>
                        <select name="" id="location" style="
                        height: 100%;
                        width: 70%;
                        background-color: #8080803d;
                        padding: 5px;">
                            <option value="">United states</option>
                            <option value="">India</option>
                            <option value="">Bangladesh</option>
                            <option value="">Pakistan</option>
                            <option value="">Afghanistan</option>
                            <option value="">Nepal</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
        <!--LAST LINE-->
        <div class="grid2">
            <ul type="none" style=" 
            font-size: 0.8rem;
            display: grid;
            grid-template-columns: repeat(7, 94px);
            grid-gap: 11px;
        ">
                <li>Archive</li>
                <li>Contact Us</li>
                <li>Press Resources</li>
                <li>Legal Info</li>
                <li>Privacy Policy</li>
                <li>Cookie Settings</li>
                <li>Imprint</li>
            </ul>
            <span>
                <p>Made in Berlin</p>
                <div class="nav-menus-sym">
                    <span class="material-symbols-outlined menu-rotate menu ">
                        menu
                    </span>
                    <span class="material-symbols-outlined menu ">
                        menu
                    </span>
                </div>
            </span>
        </div>
    </footer>

