<%- include("head.ejs") %>
<body>
    <nav>
        <div class="nav-ops">
            <div class="nav-menus-sym">
                <span class="material-symbols-outlined menu-rotate menu ">
                    menu
                </span>
                <span class="material-symbols-outlined menu ">
                    menu
                </span>
            </div>
            <p><a href="/Live" id="live">Live</a></p>
            <p><a href="/Push" id="push">Push</a></p>
            <p><a href="/Link" id="link">Link</a></p>
            <p><a href="/Shop"id="shop">Shop</a></p>
            <p><a href="/Packs"id="packs">Packs</a></p>
            <p><a href="/Help"id="help">Help</a></p>
            <p><a href="/more"id="more" style="display : flex ; align-items: center ;">More<span
                        class="material-symbols-outlined plus-sign">
                        add
                    </span></a></p>
        </div>

        <div class="account-ops">
            <p style="color : rgb(31, 129, 186) ;">Try Live For Free</p>
            <p class="small-font">Account</p>
            <p class="small-font"><a href="/sign-up" style="text-decoration: none; color: black;" id = "sign-up">Sign up</a></p>
        </div>
    </nav>
    <!--MAIN BODY-->
    <main>
        <div class="about-jobs">
            <p><a href="/about" style="color : orange ;    text-decoration: none;
">About</a></p>
            <p><a href="/Jobs" style="color : black ;    text-decoration: none;
">Jobs</a></p>
        </div>
        <div class="pic1">
        </div>
        <!--CONTENT 1 WITH THE PICTURE 1-->
        <div class="content1 content">
            <p class="big-font-content">We make <u>Live</u> , <u>Push</u> and <u>Link</u> - unique software and
                hardware for music creation and performance. With these products , our community of users create amazing
                things .
            </p>
            <p class="small-font-content">
                Ableton was founded in 1999and released the first version of Live in 2001 . Our products are used by a
                community of dedicated musicians, sound designers and artist from across the world .
            </p>
        </div>
        <div class="pic-2_3">
            <div class="pic2"></div>
            <div class="pic-bg1"></div>
            <div class="pic3"></div>
        </div>
        <!--CONTENT 2 -->
        <div class="content2 content">
            <p class="big-font-content">Making music isn't easy . It takes time , effort , and learning . But when youre
                in the flow , its
                incredibly rewarding.</p>
            <p class="small-font-content">We feel the same way about making ableton products.The driving force behind
                ableton is our passion for
                what we make, and the people we make it for </p>
        </div>
        <!--PICTURE 4 5 6 AND 7 AND CONTENT 3-->
        <div class="pic4"></div>
        <div class="content3 content">
            <p class="big-font-content">We are more than 350 people from 30 different countries divided between our
                headquarters in berlin and our offices in los angels and tokyo.</p>
            <p class="small-font-content">Most of us are acitve musicians , producers , and DJs , and many of us Live
                and Push every day . We come from a wide range of cultural and professional backgrounds . Some of us
                have phds , some are self-taught , and most of us are somewhere between. What connects us is the
                shared belief that each of us has the skils and the knowledge to contribute somethingbig : helping to
                shape the fututre of music culture.</p>
        </div>

        <div class="pic-5_6_7">
            <div class="pic-bg2"></div>
            <div class="pic5"></div>
            <div class="pic6"></div>
            <div class="pic7"></div>
        </div>
        <!--CONTENT 4-->
        <div class="content4 content">
            <p class="big-font-content">We beleive it takes ofcus to create truly outstanding intsruments . We only work
                on a few productsand we strive to make them great .</p>
            <p class="small-font-content">Rather than having one-size-fits-all process, we try to give oyr people what
                they need to work their magic and grow. We've learned that achieving the best results comes from
                building teams that are richly diverse , and thus be able to explore problems from a wider set of
                perspectives. We don't always sgree with each other, but opinion and debate are highly valued and openly
                encouraged.
            <p>
        </div>
        <!--PICTURE 8 AND CONTENT 5-->
        <div class="pic8"></div>
        <div class="content5 content">
            <p class="big-font-content">We're passionate about what we do , but we're equally passionate about improving
                who we are .</p>
            <p class="small-font-content">We work harder for an environment where people can grow both personally anf
                professionally , and we strive to create a weakth of opportunities to learn from each
                other.<br><br>Alongside an internal training program , employees are actively supported in acquiring new
                knowledge and skillsn and coached on applying these in their daily work. In addition , staff-organized
                development and musicsalons are a chance to discuss new technologies, production techniques and best
                practices.</p>
        </div>
        <!--PICUTRE 9 10 AND PIC BG 3-->
        <div class="pic-9_10">
            <div class="pic-bg3"></div>
            <div class="pic9"></div>
            <div class="pic10"></div>
        </div>
        <!--CONTENT 6-->
        <div class="content6 content">
            <p class="big-font-content">We want our employees to love it here. Since we're looking for exceptional
                talent form around the world , we will do everything we can to make your transition as easy as possible.
            </p>
            <p class="small-font-content">If you're joining berlin, we'll help with locaiton and paperwork . We'll even
                provide you with free english and german lessons . Plus , working in germany means you can expect
                comprehensive health insurance for you and your family, as well as maternity and paternity leave. Office
                hours are flexible , but it's not all work ; we have several company and team outings throughout the
                years as well as a varietyof fun , informal small group activities .</p>
        </div>
        <!--PICUTRE 11-->
        <div class="pic-bg4">
            <div class="pic11 "></div>
            <div>
                <!--CONTENT -->
                <p class="big-font-content">we're really proud of the work we've done so far . but there's so much more
                    to come. if you'd like to
                    be
                    part of it , please join us .
                    <br>
                <p class="big-font-content style ">See Latest Jobs <span class="material-symbols-outlined" style="font-size: 0.7rem ;
                    text-align: center;">
                        arrow_forward_ios
                    </span></p>
                </p>
            </div>
        </div>
    </main>
<%-include("footer.ejs")  %>
</body>
<script src="/page1.js"></script>

</html>