<%- include("head.ejs") %>
    <link rel="stylesheet" href="sign-up.css" />
    <div class="container">
        <h1><u>SIGN UP</u></h1>
        <form action="/" method = "POST">
            <label for="f_name">First Name</label>
            <input type="text" name="f_name" id="f_name" />
            <label for="l_name">Last Name</label>
            <input type="text" name="l_name" id="l_name" />
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
            <label for="pass">Password</label>
            <input type="password" name="pass" id="pass" />
            <button>Submit</button>
        </form>

    </div>
    <%- include("footer.ejs") %>